<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>
<!--    <context:component-scan base-package="com.learn.patterns"/>-->

    <bean id="abstractPfisterUpdateSetProductConditionTypesStrategy" abstract="true" class="com.learn.patterns.AbstractPfisterOrphanedMediaFileProcessStrategy">
        <property name="configurationService" ref="configurationService"/>
        <property name="orphanedMediaService" ref="orphanedMediaService"/>
        <property name="pfisterMediaDao" ref="pfisterMediaDao"/>
    </bean>

    <bean id="pfisterDefaultOrphanedMediaProcessStrategy" class="com.learn.patterns.PfisterDefaultOrphanedMediaProcessStrategy"
          parent="abstractPfisterUpdateSetProductConditionTypesStrategy"/>
    <bean id="pfisterCelumAssetsMediaProcessStrategy" class="com.learn.patterns.PfisterOrphanedCelumAssetsProcessStrategy"
          parent="abstractPfisterUpdateSetProductConditionTypesStrategy"/>
    <bean id="configurationService" class="com.learn.patterns.ConfigurationService"/>
    <bean id="orphanedMediaService" class="com.learn.patterns.OrphanedMediaService"/>
    <bean id="pfisterMediaDao" class="com.learn.patterns.PfisterMediaDao"/>

    <bean id="strategyUser" class="com.learn.patterns.StrategyUser">
        <property name="processStrategies" ref="pfisterOrphanedMediaFileProcessStrategies"/>
    </bean>

    <util:map id="pfisterOrphanedMediaFileProcessStrategies" map-class="java.util.HashMap" key-type="java.lang.String"
              value-type="com.learn.patterns.PfisterOrphanedMediaFileProcessStrategy">
        <entry key="DEFAULT_STRATEGY_KEY"
               value-ref="pfisterDefaultOrphanedMediaProcessStrategy"/>
        <entry key="CELUM_ASSETS_STRATEGY_KEY"
               value-ref="pfisterCelumAssetsMediaProcessStrategy"/>
    </util:map>

</beans>